/* prettier-ignore */
@font-face {
  /* Font family with " */
  font-family: "Open Sans";
  font-weight: 400;
  /* comment */
  font-style: italic;
  src: url(./open-sans.ttf);
  /* comment */
}
/* comment */

.style {
}
#className {
}
